<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <% @categories.each do |category| %>

<!--      <a class="p-2 text-muted" href="categories/<%#= category.id %>"><%#= category.name %></a>-->

      <%= link_to category.name, categories_path(:cate => category.id)  %>

    <% end %>

  </nav>
</div>